@model IEnumerable<EatAndDrink.ViewModels.TotalByCurrency>

<div>
    <a href = "@Url.RouteUrl("Default", new { controller = "Terminal", action = "ExportByUSD"})">Экспорт в Excel</a>
</div>

</div>
<table class="table">
    <thead>
        <tr>
            <td>CardNumber</td>
            <td>Total </td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CardNumber</td>
            <td>
                @item.Total
            </td> 
        </tr>
    }
</table>


